<h5 style = 'margin-top: 0px;'>
  <%= link_to 'All', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=all&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Alaska', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=AK&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Alabama', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=AL&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Arkansas', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=AR&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Arizona', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=AZ&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'California', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=CA&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Colorado', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=CO&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Connecticut', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=CT&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Washington D.C.', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=DC&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Delaware', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=DE&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Florida', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=FL&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Georgia', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=GA&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Hawaii', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=HI&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Iowa', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=IA&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Idaho', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=ID&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Illinois', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=IL&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Indiana', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=IN&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Kansas', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=KS&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Kentucky', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=KY&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Louisiana', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=LA&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Massachusetts', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=MA&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Maryland', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=MD&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Maine', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=ME&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Michigan', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=MI&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Minnesota', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=MN&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Missouri', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=MO&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Mississippi', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=MS&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Montana', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=MT&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'North Carolina', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=NC&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'North Dakota', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=ND&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Nebraska', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=NE&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'New Hampshire', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=NH&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'New Jersey', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=NJ&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'New Mexico', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=NM&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Nevada', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=NV&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'New York', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=NY&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Ohio', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=OH&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Oklahoma', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=OK&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Oregon', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=OR&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Pennsylvania', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=PA&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Rhode Island', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=RI&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'South Carolina', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=SC&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'South Dakota', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=SD&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Tennessee', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=TN&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Texas', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=TX&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Utah', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=UT&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Virginia', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=VA&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Vermont', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=VT&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Washington', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=WA&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Wisconsin', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=WI&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'West Virginia', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=WV&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
  <%= link_to 'Wyoming', '#', onclick: "location.href='?sort_by=#{@sort_by}&scope=WY&query=#{@query}'", class: 'dropdown-item always_black', style: 'text-decoration: none;' %>
</h5>
