<p id="notice"><%= notice %></p>

<h1>Plates</h1>

<table>
  <thead>
    <tr>
      <th>Plate</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <br>
  <%= link_to 'New Plate', new_plate_path %>

  <tbody>
    <% @plates.reverse.each do |plate| %>
      <tr>
        <td><%= link_to "#{plate.plate}", plate %></td>
        <td><%= plate.state %></td>
        <td><%= plate.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
