<p id="notice"><%= notice %></p>
<% sort_by_names = {score: "Highest voted", score_least: "Lowest voted", newest: "Newest", oldest: "Oldest"} %>
<% scope_names = {"all" => "The United States", "AK"=>"Alaska", "AL"=>"Alabama", "AR"=>"Arkansas", "AS"=>"American Samoa", "AZ"=>"Arizona", "CA"=>"California", "CO"=>"Colorado", "CT"=>"Connecticut", "DC"=>"District of Columbia", "DE"=>"Delaware", "FL"=>"Florida", "GA"=>"Georgia", "GU"=>"Guam", "HI"=>"Hawaii", "IA"=>"Iowa", "ID"=>"Idaho", "IL"=>"Illinois", "IN"=>"Indiana", "KS"=>"Kansas", "KY"=>"Kentucky", "LA"=>"Louisiana", "MA"=>"Massachusetts", "MD"=>"Maryland", "ME"=>"Maine", "MI"=>"Michigan", "MN"=>"Minnesota", "MO"=>"Missouri", "MS"=>"Mississippi", "MT"=>"Montana", "NC"=>"North Carolina", "ND"=>"North Dakota", "NE"=>"Nebraska", "NH"=>"New Hampshire", "NJ"=>"New Jersey", "NM"=>"New Mexico", "NV"=>"Nevada", "NY"=>"New York", "OH"=>"Ohio", "OK"=>"Oklahoma", "OR"=>"Oregon", "PA"=>"Pennsylvania", "PR"=>"Puerto Rico", "RI"=>"Rhode Island", "SC"=>"South Carolina", "SD"=>"South Dakota", "TN"=>"Tennessee", "TX"=>"Texas", "UT"=>"Utah", "VA"=>"Virginia", "VI"=>"Virgin Islands", "VT"=>"Vermont", "WA"=>"Washington", "WI"=>"Wisconsin", "WV"=>"West Virginia", "WY"=>"Wyoming"} %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Gr8Pl8</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Submit new plate', new_plate_path, class: "btn btn-success nav-link always_black" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Highest voted', "?sort_by=score&scope=#{@scope}&query=#{@query}", class: "always_black btn btn-#{@sort_by == :score ? "primary" : "secondary"} nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Lowest voted', "?sort_by=score_least&scope=#{@scope}&query=#{@query}", class: "always_black btn btn-#{@sort_by == :score_least ? "primary" : "secondary"} nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Newest', "?sort_by=newest&scope=#{@scope}&query=#{@query}", class: "always_black btn btn-#{@sort_by == :newest ? "primary" : "secondary"} nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Oldest', "?sort_by=oldest&scope=#{@scope}&query=#{@query}", class: "always_black btn btn-#{@sort_by == :oldest ? "primary" : "secondary"} nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="stateSelect" data-bs-toggle="dropdown"  aria-expanded="false">
              Select state: <%= scope_names[@scope.to_s] %>
            </button>
            <div class="dropdown-menu" aria-labelledby="stateSelect">
              <%= render "plates/statelist" %>
            </div>
          </div>
        </li>
      </ul>
      <%= form_with(url: "/plates", method: :get, class: "d-flex") do |form| %>
        <%= form.hidden_field :sort_by, value: @sort_by %>
        <%= form.hidden_field :scope, value: @scope %>

        <%= form.text_field :query, value: @query, class: "form-control me-2", placeholder: "Search" %>

        <%= form.submit :Search, class: "btn btn-outline-success", style: "display: inline-block;" %>
      <% end %>
    </div>
  </div>
</nav>

<h3><%= sort_by_names[@sort_by] %> plates in <%= scope_names[@scope.to_s] %></h3>

<table>
  <tbody>
    <% @plates.each do |plate| %>
      <tr>
        <td>
          <h1> <%= link_to '˄', up_plate_path(plate), class: "upvote", onclick: "addHrefToStorage('#{up_plate_path(plate)}')",remote: true %> </h1>
          <!-- ˅ -->
          <h2 id="<%= up_plate_path(plate) %>"> <%= plate.score %> </h2>
        </td>
        <td>
          <% if plate.imageurl %>
            <img width="300px" src="<%= plate.imageurl %>">
          <% end %>
        </td>
        <td>
          <% if plate.meaning %>
            <h3> <%= plate.meaning %> </h3>
            <div class="container">
              <img src="/blank_plate/<%= plate.state %>", style="width: 300px; opacity: 0.75;">
              <h1> <%= (link_to "#{plate.plate}", plate, class: 'always_black centered', style: "text-decoration: none;") %> </h1>
            </div>
          <% else %>
            <div class="container">
              <img src="/blank_plate/<%= plate.state %>", style="width: 300px; opacity: 0.75;">
              <h1> <%= (link_to "#{plate.plate}", plate, class: 'always_black centered', style: "text-decoration: none;") %> </h1>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3 style="text-align: center;">
  <%= link_to '<-- Previous page', "?sort_by=#{@sort_by}&scope=#{@scope}&query=#{@query}&page=#{@original_page - 1}", class: "always_black btn btn-secondary" %>
  <%= link_to 'Next page -->', "?sort_by=#{@sort_by}&scope=#{@scope}&query=#{@query}&page=#{@original_page + 1}", class: "always_black btn btn-secondary" %>
</h3>

<script>disableUpvotedPlates()</script>
