<p id="notice"><%= notice %></p>

<h1>Plates</h1>

<%= link_to 'Highest', '?sort_by=score'%>
<%= link_to 'Lowest', '?sort_by=score_least'%>
<%= link_to 'Newest', '?sort_by=newest'%>
<%= link_to 'Oldest', '?sort_by=oldest' %>
<br>
<%= link_to 'New Plate', new_plate_path %>

<table>
  <tbody>
    <% 
      plates_sorted = @plates.sort_by(&:score).reverse if @sort_by == :score
      plates_sorted = @plates.sort_by(&:score) if @sort_by == :score_least
      plates_sorted = @plates.reverse if @sort_by == :newest
      plates_sorted = @plates if @sort_by == :oldest
    %>
    <% plates_sorted.each do |plate| %>
      <tr>
        <td>
          <h1> <%= link_to '˄', up_plate_path(plate), class: "upvote", onclick: "cur_url = window.location.href; history.replaceState({},'','#{up_plate_path(plate)}'); history.replaceState({},'',cur_url)",remote: true %> </h1>
        <!-- ˅ -->
          <h2> <%= plate.score %> </h2>
        </td>
        <td>
          <h3> <%= (link_to "#{plate.plate}", plate) + " -- " + plate.state %> </h3>

          <% if plate.imageurl.to_s == 2 %>
            <img height="125px" width="250px" src="<%= plate.imageurl %>">
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
