<p id="notice"><%= notice %></p>
<% sort_by_names = {score: "Highest voted", score_least: "Lowest voted", newest: "Newest", oldest: "Oldest"} %>
<% scope_names = {"all" => "The United States", "AK"=>"Alaska", "AL"=>"Alabama", "AR"=>"Arkansas", "AS"=>"American Samoa", "AZ"=>"Arizona", "CA"=>"California", "CO"=>"Colorado", "CT"=>"Connecticut", "DC"=>"District of Columbia", "DE"=>"Delaware", "FL"=>"Florida", "GA"=>"Georgia", "GU"=>"Guam", "HI"=>"Hawaii", "IA"=>"Iowa", "ID"=>"Idaho", "IL"=>"Illinois", "IN"=>"Indiana", "KS"=>"Kansas", "KY"=>"Kentucky", "LA"=>"Louisiana", "MA"=>"Massachusetts", "MD"=>"Maryland", "ME"=>"Maine", "MI"=>"Michigan", "MN"=>"Minnesota", "MO"=>"Missouri", "MS"=>"Mississippi", "MT"=>"Montana", "NC"=>"North Carolina", "ND"=>"North Dakota", "NE"=>"Nebraska", "NH"=>"New Hampshire", "NJ"=>"New Jersey", "NM"=>"New Mexico", "NV"=>"Nevada", "NY"=>"New York", "OH"=>"Ohio", "OK"=>"Oklahoma", "OR"=>"Oregon", "PA"=>"Pennsylvania", "PR"=>"Puerto Rico", "RI"=>"Rhode Island", "SC"=>"South Carolina", "SD"=>"South Dakota", "TN"=>"Tennessee", "TX"=>"Texas", "UT"=>"Utah", "VA"=>"Virginia", "VI"=>"Virgin Islands", "VT"=>"Vermont", "WA"=>"Washington", "WI"=>"Wisconsin", "WV"=>"West Virginia", "WY"=>"Wyoming"} %>

<h1>Plates</h1>
<h3> <%= link_to 'New Plate', new_plate_path %> </h3>
<br>

<h2 style = "margin-bottom: 0px;">Sort By</h2>
<div style = "margin-top: 0px;">
  <%= link_to 'Highest voted', "?sort_by=score&scope=#{@scope}"%>
  <%= link_to 'Lowest voted', "?sort_by=score_least&scope=#{@scope}"%>
  <%= link_to 'Newest', "?sort_by=newest&scope=#{@scope}"%>
  <%= link_to 'Oldest', "?sort_by=oldest&scope=#{@scope}" %>
</div>


<h2 style = "margin-bottom: 0px;">State</h2>
<div style = "margin-top: 0px;">
  <%= link_to 'All', "?sort_by=#{@sort_by}&scope=all" %>
  <%= link_to 'Alaska', "?sort_by=#{@sort_by}&scope=AK" %>
  <%= link_to 'Alabama', "?sort_by=#{@sort_by}&scope=AL" %>
  <%= link_to 'Arkansas', "?sort_by=#{@sort_by}&scope=AR" %>
  <%= link_to 'Arizona', "?sort_by=#{@sort_by}&scope=AZ" %>
  <%= link_to 'California', "?sort_by=#{@sort_by}&scope=CA" %>
  <%= link_to 'Colorado', "?sort_by=#{@sort_by}&scope=CO" %>
  <%= link_to 'Connecticut', "?sort_by=#{@sort_by}&scope=CT" %>
  <%= link_to 'Washington D.C.', "?sort_by=#{@sort_by}&scope=DC" %>
  <%= link_to 'Delaware', "?sort_by=#{@sort_by}&scope=DE" %>
  <%= link_to 'Florida', "?sort_by=#{@sort_by}&scope=FL" %>
  <%= link_to 'Georgia', "?sort_by=#{@sort_by}&scope=GA" %>
  <%= link_to 'Hawaii', "?sort_by=#{@sort_by}&scope=HI" %>
  <%= link_to 'Iowa', "?sort_by=#{@sort_by}&scope=IA" %>
  <%= link_to 'Idaho', "?sort_by=#{@sort_by}&scope=ID" %>
  <%= link_to 'Illinois', "?sort_by=#{@sort_by}&scope=IL" %>
  <%= link_to 'Indiana', "?sort_by=#{@sort_by}&scope=IN" %>
  <%= link_to 'Kansas', "?sort_by=#{@sort_by}&scope=KS" %>
  <%= link_to 'Kentucky', "?sort_by=#{@sort_by}&scope=KY" %>
  <%= link_to 'Louisiana', "?sort_by=#{@sort_by}&scope=LA" %>
  <%= link_to 'Massachusetts', "?sort_by=#{@sort_by}&scope=MA" %>
  <%= link_to 'Maryland', "?sort_by=#{@sort_by}&scope=MD" %>
  <%= link_to 'Maine', "?sort_by=#{@sort_by}&scope=ME" %>
  <%= link_to 'Michigan', "?sort_by=#{@sort_by}&scope=MI" %>
  <%= link_to 'Minnesota', "?sort_by=#{@sort_by}&scope=MN" %>
  <%= link_to 'Missouri', "?sort_by=#{@sort_by}&scope=MO" %>
  <%= link_to 'Mississippi', "?sort_by=#{@sort_by}&scope=MS" %>
  <%= link_to 'Montana', "?sort_by=#{@sort_by}&scope=MT" %>
  <%= link_to 'North Carolina', "?sort_by=#{@sort_by}&scope=NC" %>
  <%= link_to 'North Dakota', "?sort_by=#{@sort_by}&scope=ND" %>
  <%= link_to 'Nebraska', "?sort_by=#{@sort_by}&scope=NE" %>
  <%= link_to 'New Hampshire', "?sort_by=#{@sort_by}&scope=NH" %>
  <%= link_to 'New Jersey', "?sort_by=#{@sort_by}&scope=NJ" %>
  <%= link_to 'New Mexico', "?sort_by=#{@sort_by}&scope=NM" %>
  <%= link_to 'Nevada', "?sort_by=#{@sort_by}&scope=NV" %>
  <%= link_to 'New York', "?sort_by=#{@sort_by}&scope=NY" %>
  <%= link_to 'Ohio', "?sort_by=#{@sort_by}&scope=OH" %>
  <%= link_to 'Oklahoma', "?sort_by=#{@sort_by}&scope=OK" %>
  <%= link_to 'Oregon', "?sort_by=#{@sort_by}&scope=OR" %>
  <%= link_to 'Pennsylvania', "?sort_by=#{@sort_by}&scope=PA" %>
  <%= link_to 'Rhode Island', "?sort_by=#{@sort_by}&scope=RI" %>
  <%= link_to 'South Carolina', "?sort_by=#{@sort_by}&scope=SC" %>
  <%= link_to 'South Dakota', "?sort_by=#{@sort_by}&scope=SD" %>
  <%= link_to 'Tennessee', "?sort_by=#{@sort_by}&scope=TN" %>
  <%= link_to 'Texas', "?sort_by=#{@sort_by}&scope=TX" %>
  <%= link_to 'Utah', "?sort_by=#{@sort_by}&scope=UT" %>
  <%= link_to 'Virginia', "?sort_by=#{@sort_by}&scope=VA" %>
  <%= link_to 'Vermont', "?sort_by=#{@sort_by}&scope=VT" %>
  <%= link_to 'Washington', "?sort_by=#{@sort_by}&scope=WA" %>
  <%= link_to 'Wisconsin', "?sort_by=#{@sort_by}&scope=WI" %>
  <%= link_to 'West Virginia', "?sort_by=#{@sort_by}&scope=WV" %>
  <%= link_to 'Wyoming', "?sort_by=#{@sort_by}&scope=WY" %>
</div>

<br>

<h3><%= sort_by_names[@sort_by] %> plates in <%= scope_names[@scope.to_s] %></h3>

<table>
  <tbody>
    <% 
      plates_sorted = @plates.sort_by(&:score).reverse if @sort_by == :score
      plates_sorted = @plates.sort_by(&:score) if @sort_by == :score_least
      plates_sorted = @plates.reverse if @sort_by == :newest
      plates_sorted = @plates if @sort_by == :oldest
    %>
    <% plates_sorted.each do |plate| %>
      <tr>
        <td>
          <h1> <%= link_to '˄', up_plate_path(plate), class: "upvote", onclick: "addHrefToStorage('#{up_plate_path(plate)}')",remote: true %> </h1>
        <!-- ˅ -->
          <h2 id="<%= up_plate_path(plate) %>"> <%= plate.score %> </h2>
        </td>
        <td>
          <h3> <%= (link_to "#{plate.plate}", plate) + " -- " + plate.state %> </h3>

          <% if plate.imageurl %>
            <img height="125px" src="<%= plate.imageurl %>">
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>disableUpvotedPlates()</script>
