<p id="notice"><%= notice %></p>
<% plate = @plate %>
<% state_names = {"AK"=>"Alaska", "AL"=>"Alabama", "AR"=>"Arkansas", "AS"=>"American Samoa", "AZ"=>"Arizona", "CA"=>"California", "CO"=>"Colorado", "CT"=>"Connecticut", "DC"=>"District of Columbia", "DE"=>"Delaware", "FL"=>"Florida", "GA"=>"Georgia", "GU"=>"Guam", "HI"=>"Hawaii", "IA"=>"Iowa", "ID"=>"Idaho", "IL"=>"Illinois", "IN"=>"Indiana", "KS"=>"Kansas", "KY"=>"Kentucky", "LA"=>"Louisiana", "MA"=>"Massachusetts", "MD"=>"Maryland", "ME"=>"Maine", "MI"=>"Michigan", "MN"=>"Minnesota", "MO"=>"Missouri", "MS"=>"Mississippi", "MT"=>"Montana", "NC"=>"North Carolina", "ND"=>"North Dakota", "NE"=>"Nebraska", "NH"=>"New Hampshire", "NJ"=>"New Jersey", "NM"=>"New Mexico", "NV"=>"Nevada", "NY"=>"New York", "OH"=>"Ohio", "OK"=>"Oklahoma", "OR"=>"Oregon", "PA"=>"Pennsylvania", "PR"=>"Puerto Rico", "RI"=>"Rhode Island", "SC"=>"South Carolina", "SD"=>"South Dakota", "TN"=>"Tennessee", "TX"=>"Texas", "UT"=>"Utah", "VA"=>"Virginia", "VI"=>"Virgin Islands", "VT"=>"Vermont", "WA"=>"Washington", "WI"=>"Wisconsin", "WV"=>"West Virginia", "WY"=>"Wyoming"} %>

<% if plate.meaning %>
  <h3> <%= plate.meaning %> </h3>
  <h5> <%= plate.plate %> </h5>
<% else %>
  <h3> <%= plate.plate %> </h3>
<% end %>

<h4>State: <%= state_names[plate.state] %> (<%= plate.state %>)</h4>
<h4>Spotted on: <%= plate.created_at %> </h4>

<table>
  <tbody>
    <% @plate = plate %>
    <%= render partial: "plates/plate" %>
  </tbody>
</table>
<script>disableUpvotedPlates()</script>
<%= link_to 'Spotted it? Submit another image', new_plate_image_path(plate), class: "btn btn-secondary" %>
<%= link_to 'Back', plates_path %>
