<!DOCTYPE html>
<html>
  <head>
    <title>Rate My Plate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'plates' %>
  </head>

  <body>
    <noscript>
      <div style="text-align:center;background-color:red;">
        <h1>
          Javascript is required to use most features of this website
        </h1>
      </div>
    </noscript> 

    <% sort_by_names = {score: "Highest voted", score_least: "Lowest voted", newest: "Newest", oldest: "Oldest"} %>
    <% scope_names = {"all" => "The United States", "AK"=>"Alaska", "AL"=>"Alabama", "AR"=>"Arkansas", "AS"=>"American Samoa", "AZ"=>"Arizona", "CA"=>"California", "CO"=>"Colorado", "CT"=>"Connecticut", "DC"=>"District of Columbia", "DE"=>"Delaware", "FL"=>"Florida", "GA"=>"Georgia", "GU"=>"Guam", "HI"=>"Hawaii", "IA"=>"Iowa", "ID"=>"Idaho", "IL"=>"Illinois", "IN"=>"Indiana", "KS"=>"Kansas", "KY"=>"Kentucky", "LA"=>"Louisiana", "MA"=>"Massachusetts", "MD"=>"Maryland", "ME"=>"Maine", "MI"=>"Michigan", "MN"=>"Minnesota", "MO"=>"Missouri", "MS"=>"Mississippi", "MT"=>"Montana", "NC"=>"North Carolina", "ND"=>"North Dakota", "NE"=>"Nebraska", "NH"=>"New Hampshire", "NJ"=>"New Jersey", "NM"=>"New Mexico", "NV"=>"Nevada", "NY"=>"New York", "OH"=>"Ohio", "OK"=>"Oklahoma", "OR"=>"Oregon", "PA"=>"Pennsylvania", "PR"=>"Puerto Rico", "RI"=>"Rhode Island", "SC"=>"South Carolina", "SD"=>"South Dakota", "TN"=>"Tennessee", "TX"=>"Texas", "UT"=>"Utah", "VA"=>"Virginia", "VI"=>"Virgin Islands", "VT"=>"Vermont", "WA"=>"Washington", "WI"=>"Wisconsin", "WV"=>"West Virginia", "WY"=>"Wyoming"} %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Gr8Pl8</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to 'Send your plates to (309) A GR8 PL8', 'sms:+13092478758', class: "btn btn-success nav-link always_black" %>
            </li>

            <% if params[:controller] == "plates" && params[:action] == "index" %>

              <li class="nav-item">
                <%= link_to 'Highest voted', "?sort_by=score&scope=#{@scope}&query=#{@query}", class: "always_black btn btn-#{@sort_by == :score ? "primary" : "secondary"} nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Lowest voted', "?sort_by=score_least&scope=#{@scope}&query=#{@query}", class: "always_black btn btn-#{@sort_by == :score_least ? "primary" : "secondary"} nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Newest', "?sort_by=newest&scope=#{@scope}&query=#{@query}", class: "always_black btn btn-#{@sort_by == :newest ? "primary" : "secondary"} nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Oldest', "?sort_by=oldest&scope=#{@scope}&query=#{@query}", class: "always_black btn btn-#{@sort_by == :oldest ? "primary" : "secondary"} nav-link" %>
              </li>
              <!--
              <li class="nav-item dropdown">
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="stateSelect" data-bs-toggle="dropdown"  aria-expanded="false">
                    Select state: <%= scope_names[@scope.to_s] %>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="stateSelect">
                    <%= render "plates/statelist" %>
                  </div>
                </div>
              </li>
              -->
            <% end %>

          </ul>

          <span class="tavbar-text" style="margin-right: 10px;">
            <%= link_to '<i class="bi bi-github"></i>'.html_safe, 'https://github.com/Matthiasclee/ratemyplate' %>
          </span>

          <%= form_with(url: "/plates", method: :get, class: "d-flex") do |form| %>
            <%= form.hidden_field :sort_by, value: @sort_by %>
            <%= form.hidden_field :scope, value: @scope %>

            <%= form.text_field :query, value: @query, class: "form-control me-2", placeholder: "Search" %>

            <%= form.submit :Search, class: "btn btn-outline-success", style: "display: inline-block;" %>
          <% end if params[:controller] == "plates" && params[:action] == "index" %>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
