<!DOCTYPE html>
<html>
  <head>
    <title>Rate My Plate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'plates' %>
  </head>

  <body>
    <noscript>
      <div style="text-align:center;background-color:red;">
        <h1>
          Javascript is required to use most features of this website
        </h1>
      </div>
    </noscript> 

    <%= yield %>

    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' %>
  </body>
</html>
